.unit::after {
  content: 'cm';
  margin: 0 0 0 -20px;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='range'] {
  -webkit-appearance: none;
  border: initial;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 0.7em;
  width: 0.7em;
  border-radius: 80%;
  background: rgb(165, 27, 68);
  margin-top: -1x;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 0.7em;
  cursor: pointer;
  background: #f0dddd;
  border-radius: 4px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #F0C5C5;
  border: initial;
  border-color: #ffffff;
}
.input-number {
  z-index: 1;
  border: none;
  width: 3.5em;
  padding: 0px 3px;
}
